.App {
  background-image: linear-gradient(#4bfadc, #67df80);
  background-color: white;
  height: 95vh;
  padding: 5vh 5vw 0 5vw;
  /* justify-items: center; */
}

.header {
  font-size: 90px;
  line-height: 20px;
  font-weight: bold;
  color: white;
}

.sub-header {
  font-size: 46px;
  line-height: 50px;
  font-weight: 500;
  color: white;

}

.white-container {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  border-radius: 25px;
  border: 10px solid white
}

.containers {
  flex-basis: 50%;
}

#upper-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  height: 50%;
}

#header-container {
  text-align: center;
  height: 100%;
  width: 50%;
}

#verification-container {
  height: 100%;
  width: 55%;
  margin: -20px auto;
  /* background-color: red; */
}

#avatar-container {
  background-color: white;
  border-bottom-left-radius: 25px;
  justify-content: center;
  /* padding-top: 50px; */
  height: 100%;
  width: 50%;
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.circle {
  border-radius: 50%;
  border: 1px solid violet;
  background-color: violet;
  width: 170px;
  height: 170px;
  margin: 40px auto;
  /* padding-top: 10px; */
}

#avatar-head {
  border-radius: 50%;
  border: 1px solid #914fa3;
  background-color: #914fa3;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  margin-bottom: 15px;
  opacity: 0.8;
}

#avatar-body {
  border: 1px solid #914fa3;
  background-color: #914fa3;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  border-radius: 150px 10px 150px 10px;
  margin: -20px auto;
  opacity: 0.8;
  
}

#lower-container {
  /* background-color: tomato; */
  padding: 0 60px 0 60px;
  height: 50%;
}

#paragraph-container {
  width: 94%;
  height: 60%;
  /* background-color: blue; */
  margin: 30px auto;
  text-align: left;
}

#paragraph {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}

@media screen and (min-width : 409px) and (max-width: 480px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 180vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }

  
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 170vh;
    width: 85vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 73%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 86vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 95%;
    height: 100%;
    /* background-color: blue; */
    margin: 80px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.5rem;
    line-height: 26px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 409px) and (max-width: 480px) and (min-height: 820px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 165vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 155vh;
    width: 85vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 73%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 86vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 95%;
    height: 100%;
    /* background-color: blue; */
    margin: 80px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.5rem;
    line-height: 26px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 409px) and (max-width: 480px) and (min-height: 860px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 160vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 85vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 73%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 86vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 95%;
    height: 100%;
    /* background-color: blue; */
    margin: 80px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.5rem;
    line-height: 26px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 409px) and (max-width: 480px) and (min-height: 902px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 155vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 145vh;
    width: 85vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 73%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 3.1rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 86vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 95%;
    height: 100%;
    /* background-color: blue; */
    margin: 50px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.5rem;
    line-height: 26px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 384px) and (max-width: 409px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 160vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }

  
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 89%;
    height: 100%;
    /* background-color: blue; */
    margin: 70px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.285rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}



@media screen and (min-width : 363px) and (max-width: 384px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 170vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }

  
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 160vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 44px;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 89%;
    height: 100%;
    /* background-color: blue; */
    margin: 70px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.285rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 363px) and (max-width: 384px) and (min-height: 740px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 160vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 44px;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 89%;
    height: 100%;
    /* background-color: blue; */
    margin: 70px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.285rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 363px) and (max-width: 384px) and (min-height: 780px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 155vh;
    padding: 5vh 0 0 5vw;
    /* justify-items: center; */
  }
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 145vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 44px;
    line-height: 50px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.85rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 50%;
  }

  #paragraph-container {
    width: 89%;
    height: 100%;
    /* background-color: blue; */
    margin: 70px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.285rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (min-width : 321px) and (max-width: 363px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 175vh;
    padding: 4vh 0 0 4vw;
    /* justify-items: center; */
  }

  
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 165vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 60vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 2.3rem;
    line-height: 46px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.3rem;
    line-height: 46px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 100vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 40px;
    height: 40px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 65px;
    height: 65px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 80vh;
  }

  #paragraph-container {
    width: 94%;
    height: 100%;
    /* background-color: blue; */
    margin: 50px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1.175rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}

@media screen and (max-width: 321px) {
  .App {
    background-image: linear-gradient(#4bfadc, #67df80);
    background-color: white;
    height: 180vh;
    padding: 4vh 0 0 4vw;
    /* justify-items: center; */
  }

  
  
  .white-container {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    height: 175vh;
    width: 87vw;
    border-radius: 30px;
    border: 8px solid white;
    /* overflow: hidden; */
  }
  
  #upper-container {
    display: flex;
    flex-direction: column-reverse;
    height: 60vh;
    /* background-color: brown; */
  }
  
  #header-container {
    text-align: center;
    height: 50%;
    width: 100%;
  }

  .header {
    font-size: 2.15rem;
    line-height: 40px;
    font-weight: bold;
    color: white;
  }
  
  #verification-container {
    height: 100%;
    width: 70%;
    margin: -30px auto;
    /* background-color: red; */
  }
  
  .sub-header {
    font-size: 2.15rem;
    line-height: 40px;
    font-weight: 500;
    color: white;
  }

  #avatar-container {
    background-color: white;
    border-bottom-left-radius: 0px;
    justify-content: center;
    padding-top: 0px;
    height: 30vh;
    width: 88vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid violet;
    background-color: violet;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    /* padding-top: 10px; */
  }
  
  #avatar-head {
    border-radius: 50%;
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 30px;
    height: 30px;
    margin: 25px auto;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  
  #avatar-body {
    border: 1px solid #914fa3;
    background-color: #914fa3;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border-radius: 150px 10px 150px 10px;
    margin: -15px auto;
    opacity: 0.8;
    
  }

  #lower-container {
    /* background-color: tomato; */
    padding: 0 20px 0 20px;
    height: 80vh;
  }

  #paragraph-container {
    width: 94%;
    height: 100%;
    /* background-color: blue; */
    margin: 40px auto;
    text-align: left;
  }

  #paragraph {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    color: white;
  }
}